.main-container{
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
   
 }
.main-title{
    display: flex;
    justify-content: space-between;
}
.main-cards{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
 }
.card{
  
    padding:  15px 15px;
    border-radius: 5px;
    height: 700px;
     width: 900px; 
    transition: all .3s;

 } 
.card{
    width: 700px;
    height: 500px;
    background-color: #1a1a1a;
    transition: all .2s;
}
.card:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(255 , 0 ,0 ); 

    
}

.card:first-child{
    background:  #FFC8DD ;
}
.card:nth-child(2){
    background: #6CA1CD;
}
.card:nth-child(3){
    background: #D4E996;
}
.card:nth-child(4){
    background:  #8256A9;
}
.card:nth-child(5){
    background: #D51568 ;
}
.card:nth-child(6){
    background: #d50000 ,#B1B69F;
}

/* .card-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
/* .card-inner > .card_icon {
    font-size: 25px;
} */

