.allart-div {
  position: relative;
  width: 350px;
  height: 190px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.allart-div:hover {
  height: 420px;
}
.allart-img {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}
.allart-div:hover .allart-img {
  width: 250px;
  height: 250px;
}
.allart-img .allart-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.allart-div .allart-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  /* margin-bottom: 80%; */
}
.allart-div .allart-content .allart-details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.2s;
  transform: translateX(150px);
}
.allart-div:hover .allart-content .allart-details {
  transform: translateY(0px);
}
.allart-div .allart-content .allart-details .allart-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2em;
}
.allart-div .allart-content .allart-details .allart-title .allart-span {
  color: #000;
  font-size: 0.75em;
  font-weight: 500;
  /* opacity: 0.5; */
}
/* .allart-div .allart-content .allart-details .allart-body {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
} */
/* .allart-div .allart-content .allart-details .data h3 {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
} */
.allart-div .allart-content .allart-details .allart-body .allart-text {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 600;
}
.allart-div .allart-content .allart-details .allart-body .allart-spans {
  font-size: 0.83em;
  font-weight: 400;
  /* opacity: 0.5; */
  color: #000;
}
.allart-div .allart-content .allart-details .actionBtn {
  display: flex;
  justify-content: space-between;
}
.allart-div .allart-content .allart-details .actionBtn .allart-button {
  padding: 10px 30px;
  border-radius: 5px;
  margin-left: 50px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  background: #ff5f95;
  color: #fff;
  cursor: pointer;
}
.allart-div .allart-content .allart-details .actionBtn .allart-button:nth-child(2) {
  border: 1px solid #999;
  color: #999;
  background: #fff;
}
