:root {
  --primary-bg: aliceblue;
  --secondary-bg: #262626;
  --accent-bg: #4f46e5;

  --primary-color: #000;
  --secondary-color: rgba(255, 255, 255, 70%);
  --accent-color: #818cf8;

  --border-color: rgba(255, 255, 255, 30%);

  --username-size: 32px;
  --title-size: 28px;
  --subtitle: 24px;
}
.artist-container {
  height: 82vh;
  /* backdrop-filter: blur(20px); */
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  /* margin: 30px; */
  /* margin-top: 35px; */
}
.artist-card {
  /* width: clamp(428%, 990%, 990%); */
  width: 100vw;
  height: 670px;
  /* background-color: var(--primary-bg); */
  /* border: 2px solid #fff; */

  display: grid;
  grid-template-rows: 220px auto;
  overflow: auto;
}
/* ------ profile header section */
.artist-header {
  background: url(../images/pup.png) center;
  background-size: cover;
  /* margin: 2px; */
  /* border-radius: 30px 30px 0 0; */
  position: relative;
}
.artist-profile {
  display: flex;
  align-items: center;
  position: absolute;
  inset: calc(100% - 75px) 75px auto auto;
}
.artist-img {
  width: 150px;
  height: 150px;
  /* background: url("../images/card2.jpg") center; */
  background-size: cover;
  border-radius: 50%;
  border: 2px solid var(--primary-bg);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.artist-names {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* color: var(--primary-color); */
  background-color: var(--primary-bg);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 5px 25px;
  border-radius: 50px 0px 50px 0;
  transform: translateX(-10px);
}
.artist-title {
  color: var(--secondary-color);
}
.artist-div {
  display: flex;
  flex-direction: row;
}
/* .artist-h5 { */
/* margin-bottom: 100px; */
/* } */
.artist-span {
  margin-bottom: 9px;
  margin-left: 5px;
}