@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
  font-family: "Playfair Display", serif;
}
.nav-bar {
  margin: 0;
  background: #57cc99;
  height: 10%;
  width: 100vw;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 999;
  top: 0;
}
