.cust-container {
  width: 302px;
  height: 299px;
  margin: 10px;
  float: left;
}
.cust-img {
  /* border-radius: 10px; */
  height: 300px;
  width: 300px;
}
.cust-text {
  /* position: absolute; */
  top: 50px;
  font-size: 15px;
}
.cust-title {
  /* position: absolute; */
  /* padding: 10px; */
  /* top: 200px; */
  color: #000;
}
.cust-container > .cust-front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  width: 302px;
  height: 290px;
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
.cust-container > .cust-back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  background: #3f3885;
  color: #fff;
  width: 302px;
  height: 290px;
  border-radius: 10px;
  padding: 5px;
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
.cust-container:hover > .cust-front {
  transform: perspective(600px) rotateY(-180deg);
}
.cust-container:hover > .cust-back {
  transform: perspective(600px) rotateY(0deg);
}
