.cust-container {
  width: 302px;
  height: 299px;
  margin: 10px;
  float: left;
}
.cust-img {
  /* border-radius: 10px; */
  height: 250px;
  width: 300px;
}
.cust-text {
  /* position: absolute; */
  top: 50px;
  font-size: 15px;
}
.cust-title {
  /* position: absolute; */
  /* padding: 10px; */
  /* top: 200px; */
  color: #000;
}
.cust-container > .cust-front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  width: 302px;
  height: 290px;
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
.cust-container > .cust-back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  background: #8d5aa2;
  color: #fff;
  width: 302px;
  height: 290px;
  border-radius: 10px;
  padding: 5px;
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
.cust-container:hover > .cust-front {
  transform: perspective(600px) rotateY(-180deg);
}
.cust-container:hover > .cust-back {
  transform: perspective(600px) rotateY(0deg);
}
.cust-delete {
  background: linear-gradient(0deg, rgb(198, 79, 79), rgb(246, 84, 84))
    no-repeat left bottom / 0 20px;
  transition: background-size 350ms;
  --bg-h: 100%;

  /* margin-right: 5px; */
  margin-bottom: 2px;
  border: 2px solid black;
  padding: 5px;
  font-size: 28px;
}
.cust-delete:where(:hover, :focus-visible) {
  background-size: 100% 25px;
  background-position-x: right;
}